@import "../../styles/_mixins.scss";
.page-login {
  background: url('image/login-bg.jpg') no-repeat;
  background-size: cover;

  .form-login {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;

    .logo-login {
      background: url('image/logo-login.png') no-repeat center center;
      height: 80px;
      width: 100%;
      margin-bottom: 50px;
    }

    .block-field {
      width: 300px;
      height: 47px;
      margin-top: 20px;

      &.f-account {
        background: url('image/bg-id.png');
      }

      &.f-password {
        background: url('image/bg-pw.png');
      }

      input {
        height: 36px;
        width: 220px;
        margin-left: 70px;
        margin-top: 5px;
        color: #fff;
        border: none;
        background: none;
        outline: none;
        @include placeholder {
          color: #EEE;
        }
      }
    }

    .btn-submit {
      width: 300px;
      height: 40px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 40px;
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      text-align: center;
      border-radius: 10px;
      border: none;
      background: url('image/btn-01.png') repeat-x;
    }
  }

  .login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #FFF;
  }
}