<div class="container-fluid m-l-40 m-r-40">
    <div class="page-header"><h3>{{$state.is('console.role.new') ? '添加角色' : '修改角色'}}</h3></div>
    <uib-alert type="danger" close="error = ''" ng-show="error" class="alert-fixed-top">{{error}}</uib-alert>
    <form class="form-horizontal" name="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">角色名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" ng-model="roleData.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户选择</label>
            <div class="col-sm-6">
                <!--<div ng-repeat="c in coops">-->
                    <!--<input type="checkbox"  id="cb"  ng-model="m.selected" ng-change="onCheckChange(m.id, m.selected)">-->
                    <!--{{c.fullname}}-->
                <!--</div>-->
                <span ng-dropdown-multiselect="" options="coops" selected-model="selected"
                      extra-settings="searchSelectAllSettings">
            </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">权限配置</label>
            <div class="col-sm-6">
                <div treecontrol="" class="tree-classic" tree-model="treedata" expanded-nodes="expandedNodes" options="treeOptions">
                    <input type="checkbox"  id="cbc"  ng-model="node.selected" ng-change="onMenuChange(node, node.selected, $parentNode)">
                    {{node.name == null?node.category:node.name}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="3" ng-model="roleData.remark"> {{roleData.remark}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button type="submit" class="btn btn-primary btn-block" ng-click="save()">提 交</button>
            </div>
        </div>
    </form>
</div>
