*.iml
*.ipr
*.iws
*.log
*.log.*

.gradle/
.idea/
.vscode/
**/.DS_Store

**/node_modules/
build/
**/*-dev.yml
/*.properties
bundle.js
vendor.bundle.js
*.js.map
/src/main/resources/static/*.woff2
/src/main/resources/static/*.svg
/src/main/resources/static/*.ttf
/src/main/resources/static/*.eot