@import '../../styles/_variables.scss';
$color-marker: #EE5D5B;
.mv-marker {
  position: absolute;
  border: 1px solid #BC3B3A;
  color: #FFF;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  background-color: $color-marker;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);

  &:hover {
    background-color: #6BADCA;
    border-color: #286090;
    .arrow {
      background-position: 0px -20px;
    }
  }

  .arrow {
    background: url(./label.png) 0px 0px no-repeat;
    position: absolute;
    width: 11px;
    height: 10px;
    bottom: -10px;
    left: 10px;
    overflow: hidden;
  }
}
.mv-marker-red{
  @extend .mv-marker;
  background-color: #ff3300;
}

.mv-marker-green{
  @extend .mv-marker;
  background-color: #00ff00;
}

.mv-marker-gray{
  @extend .mv-marker;
  background-color: darkgray;
}
