<div class="container-fluid m-l-40 m-r-40">
    <div class="page-header"><h3>发布订单</h3></div>
    <form class="form-horizontal" name="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">订单类型</label>
            <div class="col-sm-10">
                <select required class="form-control width-auto" id="orderType" ng-model="order.orderType"
                        ng-options="key as value for (key, value) in Settings.orderTypes">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">预约时间</label>
            <div class="col-sm-10">
                <div class="form-control width-auto" style="min-width: 200px; position: absolute;">{{order.orderTime | date: 'YYYY-MM-DD HH:mm'}}</div>
                <datetimepicker ng-model="order.orderTime" required style="margin-left: 220px; width: auto;"
                                data-datetimepicker-config="{modelType: 'YYYY-MM-DD HH:mm'}"></datetimepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">联系人</label>
            <div class="col-sm-10">
                <input type="text" required ng-model="order.contact" class="form-control width-auto">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">联系电话</label>
            <div class="col-sm-10">
                <input type="text" required ng-pattern="/^[0-9]+$/" class="form-control width-auto" ng-model="order.contactPhone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">订单照片</label>
            <div class="col-sm-10">
                <input file-uploader type="file" required style="min-width: 350px !important;" class="form-control width-auto" ng-model="order.photo" name="file" accept=".jpg,.png,.bmp" callback="uploaded(data)" upload-url="{{uploadUrl}}"><br>
                <img ng-if="order.photo" image-view resize=",100px" class="img-thumbnail m-t-5" ng-src="{{order.photo}}" >
            </div>
        </div>
        <div class="form-group">
            <lable class="col-sm-2 control-label">地理坐标</lable>
            <div class="col-sm-10">
                <div class="form-control" style="cursor: not-allowed;">
                    <span ng-if="!order.position">请点击地图选择位置</span>
                    <span ng-if="order.position">经度: {{order.position.lng}}, 纬度: {{order.position.lat}}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="text" required gis-picker ng-model="order.position" style="height: 400px">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary p-l-20 p-r-20" ng-disabled="form.$invalid" ng-click="save()">提 交</button>
            </div>
        </div>
    </form>
</div>
