<div class="container-fluid">
    <h3>订单编号: {{order.orderNum}}&nbsp;&nbsp;
        <span class="btn btn-sm btn-success">{{Settings.orderTypes[order.orderType]}}</span>
        <span class="btn btn-sm btn-info">{{Settings.orderStatus[order.status]}}</span>
    </h3>
    <div class="row">
        <div class="col-sm-4">预约时间: {{order.orderTime | date : 'YYYY-MM-DD HH:mm'}}</div>
        <div class="col-sm-4">下单客户: {{order.creatorName}}</div>
        <div class="col-sm-4">下单时间: {{order.addTime | date: 'YYYY-MM-DD HH:mm'}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">技师姓名: {{order.mainTech.name}}</div>
        <div class="col-sm-4">技师电话: {{order.mainTech.phone}}</div>
        <div class="col-sm-4">施工时间: {{order.mainConstruct.signinTime | date: 'YYYY-MM-DD HH:mm'}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">工作内容: {{order.mainConstruct.workItems}}</div>
        <div class="col-sm-4">施工费用: {{order.mainConstruct.payment}}</div>
    </div>
    <div class="comment" ng-if="order.comment">
        <div class="sub-header">
            <h3>评论</h3>
        </div>
        <uib-rating ng-model="order.comment.star" max="5" read-only="true" aria-labelledby="default-rating"></uib-rating>
        <br>
        <ul class="list-group">
            <li class="list-group-item"><i class="fa" ng-class="order.comment.arriveOnTime ? 'fa-check-square-o' : 'fa-square-o'"></i> 准时到达</li>
            <li class="list-group-item"><i class="fa" ng-class="order.comment.completeOnTime ? 'fa-check-square-o' : 'fa-square-o'"></i> 准时完工</li>
            <li class="list-group-item"><i class="fa" ng-class="order.comment.professional ? 'fa-check-square-o' : 'fa-square-o'"></i> 技术专业</li>
            <li class="list-group-item"><i class="fa" ng-class="order.comment.dressNeatly ? 'fa-check-square-o' : 'fa-square-o'"></i> 着装整洁</li>
            <li class="list-group-item"><i class="fa" ng-class="order.comment.carProtect ? 'fa-check-square-o' : 'fa-square-o'"></i> 车辆保护超级棒</li>
            <li class="list-group-item"><i class="fa" ng-class="order.comment.goodAttitude ? 'fa-check-square-o' : 'fa-square-o'"></i> 态度好</li>
        </ul>
    </div>
</div>
