 <div class="console-content">
            <form class="form-inline form-border">
                <div class="row-search-h40">
                    <div class="form-group">
                        <label>订单编号</label>
                        <span class="form-control ml10">{{order.orderNum}}</span>

                    </div>
                    <div class="form-group ml40">
                        <label>订单状态</label>
                        <select class="form-control ml10">
                            <option>已接单</option>
                            <option>已完成</option>
                        </select>
                    </div>
                    <div class="form-group mr10 ml40">
                        <label class="mr10">施工项目</label>
                        <label class="radio-inline">
                            <input type="checkbox" >隐形车衣
                        </label>
                        <label class="radio-inline">
                            <input type="checkbox" >隔热膜
                        </label>
                        <label class="radio-inline">
                            <input type="checkbox" >清洁美容
                        </label>
                    </div>
                </div>
                <div class="mt20 row-search-h40">
                    <div class="form-group">
                        <label>预约时间</label>
                        <span class="form-control ml10">{{order.orderTime | date : 'YYYY-MM-DD HH:mm'}}</span>
                    </div>
                    <div class="form-group ml40">
                        <label>最晚交车时间</label>
                        <span class="form-control ml10">{{order.orderTime | date : 'YYYY-MM-DD HH:mm'}}</span>
                    </div>
                    <div class="form-group ml40">
                        <label>接单技师</label>
                        <input type="text" class="form-control ml10" ng-model="order.mainTech.name">
                    </div>
                    <div class="form-group ml40">
                        <label>联系电话</label>
                        <input type="text" class="form-control ml10" ng-model="order.mainTech.phone">
                    </div>
                </div>
                <div class="mt20">
                    <div class="form-group">
                        <label>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
                        <textarea class="form-control" rows="3" style="width: 1060px;margin-left:12px;"> {{order.remark}}</textarea>
                    </div>
                </div>

            </form>
            <div class="form-border pl15 pr15">
                <div >
                    <span class="ftbold">经度：</span><span>{{order.position.lng}}</span>
                    <span class="ml20 ftbold">纬度：</span><span>{{order.position.lat}}</span>
                    <div class="modifytitle-map">
                        <map-location style="height: 250px; border-radius: 4px; border: 1px solid #cabe9c;" position="{{order.position}}"></map-location>
                    </div>
                </div>
            </div>
            <div class="principal">
                <div class="main-principal">
                    <form class="form-inline form-border">
                        <div class="principal-title">
                            <span class="ftbold ml15">主负责人</span>
                        </div>
                        <div class="mt20 row-search-h40">
                            <div class="form-group">
                                <label>技师姓名</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group ml40">
                                <label>联系电话</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group ml40">
                                <label>施工费用</label>
                                <input type="text" class="form-control ml10">
                                <span>(单位：元)</span>
                            </div>
                        </div>
                        <div class="mt10 row-search-h40">
                            <div class="form-group">
                                <label>施工项目</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group mr10 ml40">
                                <label class="mr10">施工部位</label>
                                <label class="radio-inline">
                                    <input type="checkbox" >前档风
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门+角
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门+角
                                </label>
                            </div>
                        </div>
                        <div class="mt10 row-search-h40">
                            <div class="form-group">
                                <label>施工项目</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group mr10 ml40">
                                <label class="mr10">施工部位</label>
                                <label class="radio-inline">
                                    <input type="checkbox" >前档风
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门+角
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门+角
                                </label>
                            </div>
                        </div>
                        <div class="mt10 row-search-h40">
                            <div class="form-group">
                                <label>施工项目</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group mr10 ml40">
                                <label class="mr10">施工部位</label>
                                <label class="radio-inline">
                                    <input type="checkbox" >前档风
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门+角
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门+角
                                </label>
                            </div>
                        </div>
                        <div class="principal-title mt30">
                            <span class="ftbold ml15">次负责人</span>
                        </div>
                        <div class="mt20 row-search-h40">
                            <div class="form-group">
                                <label>技师姓名</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group ml40">
                                <label>联系电话</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group ml40">
                                <label>施工费用</label>
                                <input type="text" class="form-control ml10">
                                <span>(单位：元)</span>
                            </div>
                        </div>
                        <div class="mt10 row-search-h40">
                            <div class="form-group">
                                <label>施工项目</label>
                                <input type="text" class="form-control ml10">
                            </div>
                            <div class="form-group mr10 ml40">
                                <label class="mr10">施工部位</label>
                                <label class="radio-inline">
                                    <input type="checkbox" >前档风
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门+角
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门+角
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >前档风
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >左前门
                                </label>
                                <label class="radio-inline">
                                    <input type="checkbox" >右前门
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="Material-loss">
                <form class="form-inline form-border">
                    <div class="principal-title">
                        <span class="ftbold ml15">材料耗损</span>
                    </div>
                    <div class="mt10">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>技师姓名</th>
                                <th>施工项目</th>
                                <th>施工部位</th>
                                <th>材料消耗数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>方力达</td>
                                <td>隔热膜</td>
                                <td>前档风</td>
                                <td>
                                    <div>
                                        <select class="wh80">
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>方力达</td>
                                <td>隔热膜</td>
                                <td>前档风</td>
                                <td>
                                    <div>
                                        <select class="wh80">
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>方力达</td>
                                <td>隔热膜</td>
                                <td>前档风</td>
                                <td>
                                    <div>
                                        <select class="wh80">
                                            <option></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="pull-right modify-btn">
                <button class="mr50">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
                <button>取&nbsp;&nbsp;&nbsp;&nbsp;消</button>
            </div>
        </div>
        <div class="console-footer">
            <span class="text-box">© Copyright 2016 车邻邦</span>
        </div>
    </div>
</div>
</body>
</html>


