@import "../../styles/_variables.scss";

.home-panel {
  padding-top: 150px;

  .badge.badge-console {
    text-align: left !important;
    border-radius: 5px;
    line-height: 15px;
    background-color: darken($color-primary, 10%);
  }
}
