<div class="page-title">
    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;产品管理
</div>
<uib-alert type="danger" close="error = ''" ng-show="error" class="alert-fixed-top">{{error}}</uib-alert>
<div class="row-search">
    <form class="form-inline pull-left">
        <div class="form-group">
            <label for="orderNum">类别:</label>
            <input type="text" class="form-control" id="orderNum" ng-model="filter.orderNum">
        </div>
        <div class="form-group">
            <label for="orderCreator">品牌:</label>
            <input type="text" class="form-control" id="orderCreator" ng-model="filter.orderCreator">
        </div>
        <div class="form-group">
            <label for="orderType">编码:</label>
            <select class="form-control" id="orderType" ng-model="filter.orderType"
                    ng-options="key as value for (key, value) in Settings.orderTypes">
            </select>
        </div>
        <div class="form-group">
            <label for="orderStatus">型号:</label>
            <select class="form-control" id="orderStatus" ng-model="filter.orderStatus"
                    ng-options="key as value for (key, value) in Settings.orderStatus">
            </select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="getOrders(true)"><span class="glyphicon glyphicon-search"></span>&nbsp;查找</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="reset()">批量导入产品</button>
    </form>
    <a ui-sref="console.product.new" class="pull-right btn-new">添加产品&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
</div>
<br>
<div class="clearfix">
    <div ng-class="$state.is('console.product') ? 'col-sm-12' : 'col-sm-3'">
        <div class="table-responsive m-l-20 m-r-20" ng-if="$state.is('console.product')">
            <table class="table table-striped">
                <thead><tr><th>序号</th><th>产品类别</th><th>品牌</th><th>编码</th><th>型号</th><th>施工部位</th><th>施工提成(单位:元)</th><th>报废扣款(单位:元)</th><th>技师级别(单位:星级)</th><th>质保期间(单位:月)</th><th>操作</th></tr></thead>
                <tbody>
                <tr ng-repeat="order in orders">
                    <td>1</td>
                    <td>隐形车衣</td>
                    <td>安酷</td>
                    <td>CY-AK-T-001</td>
                    <td>安酷隐形车衣</td>
                    <td>前保险杠</td>
                    <td>65</td>
                    <td>95</td>
                    <td><span class="m-l-10"><uib-rating ng-model="order.id" read-only="true" max="5" aria-labelledby="default-rating"></uib-rating><b>{{order.id.toFixed(2)}}</b>&nbsp;星</span><br></td>
                    <td>60</td>
                    <td><a ui-sref="console.product.edit({orderNum: order.orderNum})" class="btn btn-xs btn-default">
                        <i class="fa fa-list"></i>&nbsp;详情</a>
                        <a ui-sref="console.product.edit({orderNum: order.orderNum})" class="btn btn-xs btn-default">
                            <i class="fa fa-list"></i>&nbsp;修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="text-right">
                <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getOrders()"
                                previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
            </footer>
        </div>

        <div ng-if="!$state.is('console.product')">
            <div class="clearfix">
                <div class="pull-right btn-inverse m-b-5" ng-click="$state.go('^')"
                     style="width: 24px; height: 16px; line-height: 16px; border-radius: 16px; text-align: center; cursor: pointer;">
                    <i class="fa fa-arrows-h"></i></div>
            </div>
            <ul class="side-nav-list">
                <li ng-repeat="order in orders" ui-sref-active="active">
                    <a ui-sref="console.order.detail({orderNum: order.orderNum})">
                        <b>{{$index+1+pagination.pageSize*(pagination.page-1)}}.</b> {{order.orderNum}}
                        <span class="btn btn-default btn-xs">{{Settings.orderTypes[order.orderType]}}</span>
                        <span class="btn btn-xs btn-success">{{Settings.orderStatus[order.status]}}</span><br>
                        下单人: {{order.creatorName}}<br>预约时间: {{order.orderTime | date : 'YYYY-MM-DD HH:mm'}}
                    </a>
                </li>
            </ul>

            <footer class="text-right">
                <div>第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getOrders()"
                                previous-text="←" next-text="→" max-size="3" class="pagination-sm"></uib-pagination>
            </footer>
        </div>
    </div>
    <div ui-view class="col-sm-9"></div>
</div>
