<div class="page-title">
    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;产品管理
</div>
<uib-alert type="danger" close="error = ''" ng-show="error" class="alert-fixed-top">{{error}}</uib-alert>
<div class="row-search">
    <form class="form-inline pull-left">
        <div class="form-group">
            <label for="type">施工项目:</label>
            <select class="form-control" id="type" ng-model="filter.type"
                    ng-options="key as value for (key, value) in Settings.orderTypes">
            </select>
        </div>
        <div class="form-group">
            <label for="brand">品牌:</label>
            <input type="text" class="form-control" id="brand" ng-model="filter.brand">
        </div>
        <div class="form-group">
            <label for="code">编码:</label>
            <input type="text" class="form-control" id="code" ng-model="filter.code">
        </div>
        <div class="form-group">
            <label for="model">型号:</label>
            <input type="text" class="form-control" id="model" ng-model="filter.model">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="getProduces(true)"><span class="glyphicon glyphicon-search"></span>&nbsp;查找</button>
        <button type="button" class="btn btn-sm btn-default" ui-sref="console.product.import()">批量导入产品</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="reset()">重置</button>
    </form>
    <a ui-sref="console.product.new" class="pull-right btn-new">添加产品&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
</div>
<br>
<div class="clearfix">
    <div ng-class="$state.is('console.product') ? 'col-sm-12' : 'col-sm-3'">
        <div class="table-responsive m-l-20 m-r-20" ng-if="$state.is('console.product')">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>施工项目</th>
                    <th>品牌</th>
                    <th>编码</th>
                    <th>型号</th>
                    <th>施工部位</th>
                    <th>工时</th>
                    <th>施工提成(单位:元)</th>
                    <th>星级要求(单位:星级)</th>
                    <th>报废扣款(单位:元)</th>
                    <th>质保期间(单位:月)</th>
                    <th>操作</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                    <td>{{$index+1+pagination.pageSize*(pagination.page-1)}}</td>
                    <td>{{Settings.orderTypes[product.type]}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.model}}</td>
                    <td>{{Settings.positionTypes[product.constructionPosition]}}</td>
                    <td>{{product.workingHours}}</td>
                    <td>{{product.constructionCommission}}</td>
                    <td><span class="m-l-10"><uib-rating ng-model="product.starLevel" read-only="true" max="5" aria-labelledby="default-rating"></uib-rating><b>{{product.starLevel.toFixed(2)}}</b>&nbsp;星</span><br></td>
                    <td>{{product.scrapCost}}</td>
                    <td>{{product.warranty}}</td>
                    <td><a ui-sref="console.product.detail({id: product.id})" class="btn btn-xs btn-default">
                            <i class="fa fa-list"></i>&nbsp;详情</a>
                        <a ui-sref="console.product.edit({id: product.id})" class="btn btn-xs btn-default">
                            <i class="fa fa-list"></i>&nbsp;编辑</a>
                        <a class="btn btn-xs btn-danger" ng-click="delete(product);">
                            <i class="fa fa-list"></i>&nbsp;删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="text-right">
                <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getProduces()"
                                previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
            </footer>
        </div>

        <div ng-if="!$state.is('console.product')">
            <div class="clearfix">
                <div class="pull-right btn-inverse m-b-5" ng-click="$state.go('^')"
                     style="width: 24px; height: 16px; line-height: 16px; border-radius: 16px; text-align: center; cursor: pointer;">
                    <i class="fa fa-arrows-h"></i></div>
            </div>
            <ul class="side-nav-list">
                <li ng-repeat="product in products" ui-sref-active="active">
                    <a ui-sref="console.product.detail({id: product.id})">
                        <b>{{$index+1+pagination.pageSize*(pagination.page-1)}}.</b> {{Settings.orderTypes[product.type]}}
                        <span class="btn btn-default btn-xs">{{product.brand}}</span>
                        <span class="btn btn-xs btn-success">{{product.code}}</span><br>
                        型号: {{product.model}}<br>施工部位: {{Settings.positionTypes[product.constructionPosition]}}
                    </a>
                </li>
            </ul>

            <footer class="text-right">
                <div>第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getProduces()"
                                previous-text="←" next-text="→" max-size="3" class="pagination-sm"></uib-pagination>
            </footer>
        </div>
    </div>
    <div ui-view class="col-sm-9"></div>
</div>
