<div class="Mapmode">
    <div class="Mapmode-one">
        <label class="radio-inline">
            <span class="ftbold">地图模式指派</span>
        </label>
    </div>
    <div class="form-border pl15 pr15 Mapmode-imp">

        <div class="pl15">
            <span class="ftbold">经度：</span><span>{{mapTechnicians.coopLongitude}}</span>
            <span class="ml20 ftbold">纬度：</span><span>{{mapTechnicians.coopLatitude}}</span>
            <span class="pull-right vacation pr20 mr20">休假：</span>
            <span class="pull-right canorder pr20 mr20">可接单：</span>
            <span class="pull-right working pr20 mr20">工作中：</span>
        </div>
        <div class="">
            <map-view items="items" center="中国" item-template="{{itemTemplate}}" style="height: 600px; width: 100%; border: 1px solid #cabe9c;"></map-view>
        </div>
    </div>
</div>
<div class="name-phone">
    <div class="name-phone-one">
        <label class="radio-inline">
            <span class="ftbold">通过姓名或手机指派</span>
        </label>
    </div>
    <div class="form-border pl15 pr15 name-phone-imp">
        <form class="form-inline pl0 name-phone-bg">
            <div class="form-group ml10">
                <label>技师姓名/电话</label>
                <input type="text" class="form-control ml10"  ng-model="filter.query">
            </div>
            <div class="form-group ml30">
                <button type="submit" class="btn btn-primary" ng-click="getTechnician(true)"><span class="glyphicon glyphicon-search"></span>&nbsp;查找</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="reset()">重置</button>
            </div>
        </form>
        <div class="mt10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>技师姓名</th>
                    <th>联系电话</th>
                    <th>技能项</th>
                    <th>工作状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in technicians">
                    <td>{{t.name}}</td>
                    <td>{{t.phone}}</td>
                    <td><span ng-repeat="s in t.skill.split(',')" class="fa fa-tag m-l-5">{{Settings.orderTypes[s]}}</span></td>
                    <td>{{Settings.technicianType[t.workStatus]}}</td>
                    <td>
                        <a href="" class="operation-btn" ng-show="!t.flag" ng-click="dispatchTechnician(t, 2);">派单</a>
                        <a href="" class="operation-btn" style="background-color: #fba828" ng-show="t.flag">当前派单</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="text-right">
                <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getTechnician()"
                                previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
            </footer>
        </div>
    </div>
</div>




