<div class="page-title">
    <i class="fa fa-users"></i>&nbsp;团队管理
</div>
<div class="row-search">
    <form class="form-inline pull-left">
        <div class="form-group">
            <label for="name">名称:</label>
            <input type="text" class="form-control" id="name" ng-model="teamData.name">
        </div>
        <!--<div class="form-group m-l-5">-->
            <!--<label for="type">资料类型:</label>-->
            <!--<select class="form-control" id="type" ng-model="teamData.type">-->
                <!--<option value="1">培训资料</option>-->
                <!--<option value="2">施工标准</option>-->
                <!--<option value="3">业务规则</option>-->
            <!--</select>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary m-l-5" ng-click="getDatas(true)"><span class="glyphicon glyphicon-search"></span>&nbsp;查找</button>
        <button type="button" class="btn btn-sm btn-default m-l-5" ng-click="reset()">重置</button>
    </form>
    <a ui-sref="console.team.new" class="pull-right btn-new">添加团队&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
</div>
<br>
<div class="clearfix">
    <div ng-class="$state.is('console.team') ? 'col-sm-12' : 'col-sm-3'">
        <div class="table-responsive m-l-20 m-r-20" ng-if="$state.is('console.team')">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>团队名称</th>
                        <th>负责人名称</th>
                        <th>负责人电话</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in teamDatas">
                    <td>{{$index+1+pagination.pageSize*(pagination.page-1)}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.managerName}}</td>
                    <td>{{s.managerPhone}}</td>
                    <td>
                        <a ui-sref="console.team.edit({id: s.id})" class="btn btn-xs btn-default"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                        <button ng-click="deleteTeam(s.id)" class="btn btn-xs btn-default"><i class="fa fa-close"></i>&nbsp;删除</button>
                        <a ui-sref="console.team.member({id: s.id})" class="btn btn-xs btn-default"><i class="fa fa-cog"></i>&nbsp;配置成员</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="text-right">
                <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getDatas()"
                                previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
            </footer>
        </div>
        <div ng-if="!$state.is('console.team')">
            <div class="clearfix">
                <div class="pull-right btn-inverse m-b-5" ng-click="$state.go('^')"
                     style="width: 24px; height: 16px; line-height: 16px; border-radius: 16px; text-align: center; cursor: pointer;">
                    <i class="fa fa-arrows-h"></i></div>
            </div>
            <ul class="side-nav-list">
                <li ng-repeat="s in teamDatas" ui-sref-active="active" class="clearfix">
                    <span>
                        <b>{{$index+1+pagination.pageSize*(pagination.page-1)}}.</b>
                        {{s.name}}
                    </span>
                </li>
            </ul>

            <footer class="text-right">
                <div>第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getDatas()"
                                previous-text="←" next-text="→" max-size="3" class="pagination-sm"></uib-pagination>
            </footer>
        </div>
    </div>
    <div ui-view class="col-sm-9"></div>
</div>
