<div class="console-content">
    <form class="form-inline form-border">
        <div class="row-search-h40">
            <div class="form-group">
                <label>订单编号</label>
                <span>{{product.orderNum}}</span>
            </div>
        </div>
        <div class="principal" ng-repeat="project in product.project">
            <div class="main-principal">
                <form class="form-inline form-border">
                    <div class="mt10">
                        <div class="form-group mr10">
                            <div class="form-group">
                                <label>施工项目</label>
                                <span>{{project.projectName}}</span>
                            </div>
                            <label class="mr10">施工部位以及施工型号</label>
                            <div ng-repeat="proList in project.productShowList">
                                <label class="radio-inline">
                                    <span>{{proList.positionName}}：</span>
                                </label>
                                <select ng-model="proList.productId" ng-options="pl.id as pl.model for pl in proList.productList">

                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="pull-right modify-btn">
            <button class="mr50" ng-click="save();">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
        </div>
    </form>
</div>



