<div class="console-content">
    <form class="form-inline form-border">
        <div class="row-search-h40">
            <div class="form-group">
                <label>订单编号</label>
                <span>{{product.orderNum}}</span>
            </div>
        </div>
        <div class="row-search-h40">
            <div class="form-group">
                <label>真实编号</label>
                <input type="text" class="form-control ml10" ng-model="realOrderNum" style="width: 150px;">
            </div>
            <div class="form-group ml10">
                <label>车&nbsp;&nbsp;&nbsp;&nbsp;型</label>
                <input type="text" class="form-control ml10" ng-model="vehicleModel" style="width: 150px;">
            </div>
            <div class="form-group ml10">
                <label>车&nbsp;&nbsp;&nbsp;&nbsp;牌</label>
                <input type="text" class="form-control ml10" ng-model="license" style="width: 150px;">
            </div>
            <div class="form-group ml10">
                <label>车架号</label>
                <input type="text" class="form-control ml10" ng-model="vin" style="width: 150px;">
            </div>
        </div>
        <div class="row-search-h40">
            <div class="form-group">
                <label>客户姓名</label>
                <input type="text" class="form-control ml10" ng-model="customerName" style="width: 150px;">
            </div>
            <div class="form-group">
                <label>联系方式</label>
                <input type="text" class="form-control ml10" ng-model="customerPhone" style="width: 150px;">
            </div>
            <div class="form-group ml10">
                <label>业务员</label>
                <input type="text" class="form-control ml10" ng-model="salesman" style="width: 150px;">
            </div>
            <div class="form-group ml10">
                <label>营业额</label>
                <input type="text" class="form-control ml10" ng-model="turnover" style="width: 150px;">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="width: 40%;" ng-repeat="project in product.project">
                    <div class="main-principal">
                        <form class="form-inline form-border">
                            <div class="mt10">
                                <div class="form-group mr10">
                                    <div class="form-group">
                                        <label >施工项目</label>
                                        <span>{{project.projectName}}</span>
                                    </div>
                                    <label class="mr10">施工部位以及施工型号</label>
                                    <div ng-repeat="proList in project.productShowList">
                                        <div class="row m-b-10">
                                            <label class="col-lg-6 control-label text-right" style="padding:0 !important;">
                                                <span>{{proList.positionName}}：</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select ng-model="proList.productId" style="width: 130px;">
                                                    <option ng-repeat="pl in proList.productList" value="{{pl.id}}">{{pl.model}}</option>
                                                    <option value="">--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
                    <!--&lt;!&ndash; 轮播（Carousel）指标 &ndash;&gt;-->
                    <!--<ol class="carousel-indicators">-->
                        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                    <!--</ol>-->
                    <!--&lt;!&ndash; 轮播（Carousel）项目 &ndash;&gt;-->
                    <!--<div class="carousel-inner">-->
                        <!--<div class="item active">-->
                            <!--<img src="/uploads/order/photo/20180615173955992780.jpeg" alt="First slide">-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<img src="/uploads/order/photo/20180615173919974603.jpeg" alt="Second slide">-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<img src="/uploads/order/photo/20180615175332230701.jpeg" alt="Third slide">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;-->
                    <!--<a class="carousel-control left" href="#myCarousel"-->
                       <!--data-slide="prev"><span class="fa fa-chevron-left m-t-50"></span></a>-->
                    <!--<a class="carousel-control right" href="#myCarousel"-->
                       <!--data-slide="next"><span class="fa fa-chevron-right"></span></a>-->
                <!--</div>-->
                <!--<div ng-repeat="photo in photoList">-->
                <!--<img ng-if="photo" ng-src="{{photo}}" style="height: 560px;width: 600px;" image-modal class="img-responsive pull-left m-r-10">-->
                <!--</div>-->
                <div id="myPicture">
                    <img ng-src="/uploads/order/photo/20180615173955992780.jpeg" style="height: 560px;width: 600px;" image-modal class="img-responsive pull-left m-r-10">
                </div>
            </div>
        </div>


        <div class="pull-right modify-btn">
            <button class="mr50" ng-click="save();">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
        </div>
    </form>
</div>



<script type="text/javascript">
    var oDiv = document.getElementById("myPicture");
    oDiv.onmousedown=function(ev)
    {
        var oEvent = ev;
        var disX = oEvent.clientX - oDiv.offsetLeft;
        var disY = oEvent.clientY - oDiv.offsetTop;
        document.onmousemove=function (ev)
        {
            oEvent = ev;
            oDiv.style.left = oEvent.clientX -disX+"px";
            oDiv.style.top = oEvent.clientY -disY+"px";
        }
        document.onmouseup=function()
        {
            document.onmousemove=null;
            document.onmouseup=null;
        }

    }

</script>
