<div class="page-title">
    <span class="ico ico-order pull-left"></span>订单管理
</div>
<div class="row-search">
    <form class="form-inline pull-left">
        <div class="form-group">
            <label for="orderNum">订单编号:</label>
            <input type="text" class="form-control" id="orderNum" ng-model="filter.orderNum">
        </div>
        <div class="form-group">
            <label for="orderCreator">下单人:</label>
            <input type="text" class="form-control" id="orderCreator" ng-model="filter.orderCreator"
                   placeholder="姓名或手机号">
        </div>
        <div class="form-group">
            <label for="orderType">订单类型:</label>
            <select class="form-control" id="orderType" ng-model="filter.orderType"
                    ng-options="key as value for (key, value) in Settings.orderTypes">
            </select>
        </div>
        <div class="form-group">
            <label for="orderStatus">订单状态:</label>
            <select class="form-control" id="orderStatus" ng-model="filter.orderStatus"
                    ng-options="key as value for (key, value) in Settings.orderStatus">
            </select>
        </div>
        <button class="btn btn-default btn-search"><span class="ico ico-search"></span>&nbsp;查找</button>
    </form>
    <a href class="pull-right btn-new-order">发布订单<span class="ico ico-add"></span></a>
</div>
<br>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead><tr><th>序号</th><th>订单类型</th><th>预约时间</th><th>下单人</th><th>下单时间</th><th>订单状态</th><th>操作</th></tr></thead>
            <tbody>
                <tr ng-repeat="order in orders"><td>{{$index+1+pagination.pageSize*(pagination.page-1)}}</td><td>{{Settings.orderTypes[order.orderType]}}</td><td>{{order.orderTime | date : 'YYYY-MM-DD HH:mm'}}</td><td>{{order.creatorName}}</td><td>{{order.addTime | date : 'YYYY-MM-DD HH:mm'}}</td><td>{{Settings.orderStatus[order.status]}}</td><td></td></tr>
            </tbody>
        </table>
    </div>

    <footer class="text-right">
        <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
        <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true" items-per-page="pagination.pageSize"
                        force-ellipses="true" ng-change="getOrders()" max-size="5" previous-text="上一页" next-text="下一页"></uib-pagination>
    </footer>
</div>

