    <div class="g-mainbox">
        <div class="g-column01 g-line01">
            <a href="###" class="g-columnbox">
                <div class="g-column-icon g-column-icon01"></div>
                <div class="g-content g-padding-l10 g-padding-r10">
                    <table border="0" cellspacing="0" cellpadding="0" style="height:100%">
                        <tr>
                            <td valign="middle">
                                <div class="g-font-h1">273</div>
                                <div class="g-font-h3 g-padding-l30">新增<span class="g-font-h2">订单</span></div>
                            </td>
                        </tr>
                    </table>
                </div><!--g-content end-->
            </a><!--g-columnbox end-->
        </div><!--g-column1 end-->
        <div class="g-column02 g-line01 g-line01-">
            <a href="###" class="g-columnbox">
                <div class="g-column-icon g-column-icon02"></div>
                <div class="g-content g-padding-l10 g-padding-r10">
                    <table border="0" cellspacing="0" cellpadding="0" style="height:100%">
                        <tr>
                            <td valign="middle">
                                <div class="g-font-h1">19</div>
                                <div class="g-font-h3 g-padding-l30">新增<span class="g-font-h2">商户</span></div>
                            </td>
                        </tr>
                    </table>
                </div><!--g-content end-->
            </a><!--g-columnbox end-->
        </div><!--g-column2 end-->
        <div class="g-column03 g-line01-">
            <a href="###" class="g-columnbox">
                <div class="g-column-icon g-column-icon03"></div>
                <div class="g-content g-padding-l10 g-padding-r10">
                    <table border="0" cellspacing="0" cellpadding="0" style="height:100%">
                        <tr>
                            <td valign="middle">
                                <div class="g-font-h1">36</div>
                                <div class="g-font-h3 g-padding-l30">新增<span class="g-font-h2">技师</span></div>
                            </td>
                        </tr>
                    </table>
                </div><!--g-content end-->
            </a><!--g-columnbox end-->
        </div><!--g-column3 end-->
        <div class="g-clearbox"></div>
    </div><!--g-mainbox end-->