
    <div class="g-mainbox">
        <div class="g-columnnamebox">
            <ul>
                <li class="g-ico-01"></li>
                <!--<li><a href="#" class="">管理</a></li>
                <li>&#8250;</li> -->
                <li>订单管理</li>
            </ul>
            <div class="g-clearbox"></div>
        </div><!--g-columnnamebox end-->
        <div class="g-topformbox">
            <ul class="">
                <li><input type="text" placeholder="订单编号" style="width:160px;" value="订单编号" /></li>
                <li><select name=""  style="width:160px;">
                    <option>订单状态</option>
                    <option>未接单</option>
                    <option>已接单</option>
                    <option>工作中</option>
                    <option>已结束</option>
                    <option>已评价</option>
                </select></li>
                <li><select name=""  style="width:160px;">
                    <option>施工类型</option>
                    <option>汽车贴膜</option>
                    <option>汽车美容</option>
                    <option>汽车清洁</option>
                </select></li>
                <li><select name=""  style="width:160px;">
                    <option>下单客户</option>
                    <option>合作商户A</option>
                    <option>合作商户B</option>
                    <option>合作商户C</option>
                    <option>合作商户D</option>
                    <option>合作商户E</option>
                </select></li>
            </ul>
            <div class="g-float-l"><a href="###" class="g-ico-search"></a></div>
            <a href="###" class="g-rightbox">增加订单<img src="images/ico-add.png" width="20" height="20" /></a><!--g-rightbox end-->
            <div class="g-clearbox"></div>
        </div><!--g-topformbox end-->
        <div class="g-main g-padding-l10r10 g-padding-b30">
            <table class="table table-hover">
                <caption></caption>
                <thead>
                <tr>
                    <th style="width:15%;">订单编号</th>
                    <th style="width:12%;">施工类型</th>
                    <th style="width:15%;">预约时间</th>
                    <th style="width:12%;">下单客户</th>
                    <th style="width:15%;">下单时间</th>
                    <th style="width:10%;">订单状态</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>未接单</td>
                    <td>
                        <button type="submit" class="g-btn-02">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>已接单</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>工作中</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>已完成</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>已评价</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>未接单</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>已评价</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                <tr>
                    <td>CLB28019960600</td>
                    <td>汽车贴膜</td>
                    <td>2016-02-02 10:20</td>
                    <td>合作商户A</td>
                    <td>2016-02-02 10:20</td>
                    <td>未接单</td>
                    <td>
                        <button type="submit" class="g-btn-02-">派单</button>
                        <button type="submit" class="g-btn-02">详情</button>
                        <button type="submit" class="g-btn-02">订单照片</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="padding-right:10%">
                <nav class="pull-right">
                    <ul class="g-pagination">
                        <li>
                            <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
            </div><!---->
            <div class="clearfix"></div>
        </div><!--g-main end-->
    </div><!--g-mainbox end-->