<div class="bootstrap-datetimepicker-widget dropdown-menu" ng-class="{usetwentyfour: use24Hours}">
    <ul class="list-unstyled">
        <li class="collapse in">
            <div class="datepicker">
                <div class="datepicker-days">
                    <table class="table-condensed">
                        <thead>
                            <th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left"></span></th>
                            <th class="picker-switch" data-action="pickerSwitch" colspan="5">{{viewDate.day}}</th>
                            <th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right"></span></th>
                        </thead>
                        <tbody><tr ng-repeat="row in showDays"><td ng-repeat="d in row" data-day="d" ng-click="selectDay()">{{d}}</td></tr></tbody>
                    </table>
                </div>
                <div class="datepicker-months">
                    <table class="table-condensed">
                        <thead>
                        <th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left"></span></th>
                        <th class="picker-switch" data-action="pickerSwitch" colspan="5">{{viewDate.year}}</th>
                        <th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right"></span></th>
                        </thead>
                        <tbody><tr><td colspan="7"><span class="month" ng-repeat="m in ['一','二','三','四','五','六','七','八','九','十','十一','十二'" ng-click="selectMonth()" ng-class="{active: currentDate.year == viewDate.year && currentDate.month == $index" data-month="{{$index}}">{{m}}月</span></td></tr></tbody>
                    </table>
                </div>
                <div class="datepicker-years">
                    <table class="table-condensed">
                        <thead>
                        <th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left"></span></th>
                        <th class="picker-switch" data-action="pickerSwitch" colspan="5">{{viewDate.year - 5}} - {{viewDate.year + 6}}</th>
                        <th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right"></span></th>
                        </thead>
                        <tbody><tr><td colspan="7"><span class="year" ng-repeat="y in showYears" ng-click="selectYear()" ng-class="{active: currentDate.year == viewDate.year}" data-year="{{y}}">{{y}}</span></td></tr></tbody>
                    </table>
                </div>
                <div class="datepicker-decades">
                    <table class="table-condensed">
                        <thead>
                        <th class="prev" data-action="previous"><span class="glyphicon glyphicon-chevron-left" ng-class="{disabled: viewDate.year/100 > 1}"></span></th>
                        <th class="picker-switch" data-action="pickerSwitch" colspan="5">{{parseInt(viewDate.year/100)*100}} - {{(parseInt(viewDate.year/100)+1)*100}}</th>
                        <th class="next" data-action="next"><span class="glyphicon glyphicon-chevron-right"></span></th>
                        </thead>
                        <tbody><tr><td colspan="7"></td></tr></tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="collapse">
            <div class="timepicker">
                <div class="timepicker-picker">
                    <table class="table-condensed">
                        <tr>
                            <td><a href tabindex="-1" class="btn" data-action="incrementHours"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                            <td class="separator"></td>
                            <td><a href tabindex="-1" class="btn" data-action="incrementMinutes"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                            <td class="separator"></td>
                            <td><a href tabindex="-1" class="btn" data-action="incrementSeconds"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                        </tr>
                        <tr>
                            <td><span class="timepicker-hour" data-time-component="hours" data-action="showHours"></span></td>
                            <td class="separator">:</td>
                            <td><span class="timepicker-minute" data-time-component="minutes" data-action="showMinutes"></span></td>
                            <td class="separator">:</td>
                            <td><span class="timepicker-second" data-time-component="seconds" data-action="showSeconds"></span></td>
                        </tr>
                        <tr>
                            <td><a href tabindex="-1" class="btn" data-action="decrementHours"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                            <td class="separator"></td>
                            <td><a href tabindex="-1" class="btn" data-action="decrementMinutes"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                            <td class="separator"></td>
                            <td><a href tabindex="-1" class="btn" data-action="decrementSeconds"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                        </tr>
                    </table>
                </div>
                <div class="timepicker-hours">
                    <table class="table-condensed"></table>
                </div>
                <div class="timepicker-minutes">
                    <table class="table-condensed"></table>
                </div>
                <div class="timepicker-seconds">
                    <table class="table-condensed"></table>
                </div>
            </div>
        </li>
        <li class="picker-switch accordion-toggle">
            <table class="table-condensed"><tbody><tr><td><a data-action="togglePicker"><span class="glyphicon glyphicon-time"></span></a></td></tr></tbody></table>
        </li>
    </ul>
</div>
