<div class="page-title">
    <i class="fa fa-university"></i>&nbsp;商户管理
</div>
<div class="row-search">
    <form class="form-inline pull-left">
        <div class="form-group">
            <label for="fullname">企业名称:</label>
            <input type="text" class="form-control" id="fullname" ng-model="filter.fullname">
        </div>
        <div class="form-group">
            <label for="corporationName">法人姓名:</label>
            <input type="text" class="form-control" id="corporationName" ng-model="filter.corporationName">
        </div>
        <div class="form-group">
            <label for="orderStatus">认证状态:</label>
            <select class="form-control" id="orderStatus" ng-model="filter.statusCode">
                <option value="0">未认证</option>
                <option value="1">认证通过</option>
                <option value="2">认证失败</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="getCooperators(true)"><span class="glyphicon glyphicon-search"></span>&nbsp;查找</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="reset()">重置</button>
    </form>
    <a ui-sref="console.cooperator.new" class="pull-right btn-new">新建商户&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
</div>
<br>
<div class="clearfix">
    <div ng-class="$state.is('console.cooperator') ? 'col-sm-12' : 'col-sm-3'">
        <div class="table-responsive m-l-20 m-r-20" ng-if="$state.is('console.cooperator')">
            <table class="table table-striped align-middle">
                <thead><tr><th>序号</th><th>企业名称</th><th>法人姓名</th><th>联系电话</th><th>所在城市</th><th>订单数</th><th>认证状态</th><th>注册日期</th><th>操作</th></tr></thead>
                <tbody>
                <tr ng-repeat="c in cooperators">
                    <td>{{$index+1+pagination.pageSize*(pagination.page-1)}}</td>
                    <td>{{c.fullname}}</td>
                    <td>{{c.corporationName}}</td>
                    <td>{{c.contactPhone}}</td>
                    <td>{{c.city}}</td>
                    <td>{{c.orderNum}}</td>
                    <td>{{['未认证','认证通过','认证失败'][c.statusCode]}}</td>
                    <td>{{c.createTime | date : 'YYYY-MM-DD HH:mm'}}</td>
                    <td><a ui-sref="console.cooperator.detail({id: c.id})" class="btn btn-xs btn-default"><i class="fa fa-list"></i>&nbsp;详情</a>
                        <a ui-sref="console.cooperator.edit({id: c.id})" class="btn btn-xs btn-default"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="text-right">
                <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getCooperators()"
                                previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
            </footer>
        </div>
        <div ng-if="!$state.is('console.cooperator')">
            <div class="clearfix">
                <div class="pull-right btn-inverse m-b-5" ng-click="$state.go('^')"
                     style="width: 24px; height: 16px; line-height: 16px; border-radius: 16px; text-align: center; cursor: pointer;">
                    <i class="fa fa-arrows-h"></i></div>
            </div>
            <ul class="side-nav-list">
                <li ng-repeat="c in cooperators" ui-sref-active="active">
                    <a ui-sref="console.cooperator.detail({id: c.id})">
                        <b>{{$index+1+pagination.pageSize*(pagination.page-1)}}.</b>
                        <span>{{c.fullname}}</span>
                        <small class="btn btn-success btn-xs m-l-5">{{['未认证','认证通过','认证失败'][c.statusCode]}}</small><br>
                        <span>{{c.corporationName}}</span><i class="glyphicon glyphicon-earphone m-l-10 small">{{c.contactPhone}}</i>
                    </a>
                </li>
            </ul>

            <footer class="text-right">
                <div>第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
                <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                                items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getCooperators()"
                                previous-text="←" next-text="→" max-size="3" class="pagination-sm"></uib-pagination>
            </footer>
        </div>
    </div>
    <div ui-view class="col-sm-9"></div>
</div>
