<div class="container-fluid">
    <h3>{{bill.billMonth | date : 'YYYY年MM月'}} - <i class="fa fa-rmb">{{bill.sum}}</i>
        <small class="btn btn-success btn-xs m-l-10">{{bill.paid ? '已支付' : '未支付'}}</small>
        <small class="m-l-15">
            <a ui-sref="console.technician.detail({id: bill.technician.id})">{{bill.technician.name}}</a>
            <i class="fa fa-phone m-l-10">{{bill.technician.phone}}</i>
        </small>
    </h3>
    <div class="table-responsive m-l-20 m-r-20 m-t-30">
        <table class="table table-striped">
            <thead><tr><th>序号</th><th>订单编号</th><th>订单类型</th><th>下单客户</th><th>施工内容</th><th>完成时间</th><th>金额</th></tr></thead>
            <tbody>
                <tr ng-repeat="o in orders">
                    <td>{{$index+1+pagination.pageSize*(pagination.page-1)}}</td>
                    <td><a ui-sref="console.order.detail({orderNum: o.orderNum})">{{o.orderNum}}</a></td>
                    <td>{{Settings.orderTypes[o.orderType]}}</td>
                    <td>{{o.creatorName}}<i class="fa fa-phone m-l-10">{{o.contactPhone}}</i></td>
                    <td>{{o.construct.workItems}}</td>
                    <td>{{o.finishTime | date : 'YYYY-MM-DD HH:mm'}}</td>
                    <td><i class="fa fa-rmb"></i>{{o.construct.payment}}</td>
                </tr>
            </tbody>
        </table>
        <footer class="text-right">
            <div class="pull-left">第{{pagination.page}}页 / 共{{(pagination.totalItems/pagination.pageSize) | ceil}}页</div>
            <uib-pagination total-items="pagination.totalItems" ng-model="pagination.page" boundary-link-numbers="true"
                            items-per-page="pagination.pageSize" force-ellipses="true" ng-change="getOrders()"
                            previous-text="上一页" next-text="下一页" max-size="7"></uib-pagination>
        </footer>
    </div>
</div>
